.page-header {
  background-color: rgba($color: teal, $alpha: 0.3);
}

.container {
  display: flex;
  justify-content: space-between;

  width: 1200px;
  padding: 15px;

  margin-left: auto;
  margin-right: auto;
}

.logo {
  display: inline-block;
  font-size: 26px;
  line-height: 1.62;
  color: teal;
  background-color: orange;
}

.button {
  background-color: #fff;
  color: aqua;
  border: 1px solid teal;
}
