@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  cursor: url(../img/additionals/cursor-default.png), default;
}

.homepage {
  margin: 0;
  color: #fcfcfc;
  background-color: #84a178;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.is-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

<<<<<<< HEAD
.advantages__advantages-list {
=======
.products__list {
>>>>>>> 7d7112276cc7b50bf406b7fd0dbbca2a9edc597a
  list-style: none;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
.advantages-list__text, .advantages-list__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #fcfcfc;
}

@media screen and (max-width: 767px) {
  .advantages {
    padding-top: 42px;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 48px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 86px;
  }
}

.advantages__advantages-list {
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .advantages__advantages-list {
    flex-direction: column;
    gap: 28px;
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__advantages-list {
    flex-direction: row;
    gap: 80px;
    flex-basis: calc((100% - 160px) / 3);
    margin-left: 44px;
    margin-right: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__advantages-list {
    gap: 32px;
    margin-left: 0;
    margin-right: 0;
  }
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list__icon--wrapper {
  width: 50px;
  height: 50px;
  background-color: #f8d24e;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .advantages-list__icon--wrapper {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-list__icon--wrapper {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__icon--wrapper {
    margin-bottom: 40px;
  }
}

.advantages-list__icon {
  fill: #000000;
}

.advantages-list__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 767px) {
  .advantages-list__title {
    font-family: "Roboto";
    font-size: 36px;
    margin-bottom: 18px;
    line-height: 1.16;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 768px) {
  .advantages-list__title {
    font-family: "Montserrat";
    font-size: 48px;
    line-height: 1.22;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__title {
    font-family: "Montserrat";
    font-size: 58px;
  }
}

.advantages-list__text {
  text-align: center;
  font-family: "Montserrat";
}
@media screen and (max-width: 767px) {
  .advantages-list__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
  }
}
@media screen and (min-width: 768px) {
  .advantages-list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}

=======
.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products__titles {
  text-align: center;
}

.product__subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #131313;
}

.product__title {
  margin-top: 12px;
  margin-bottom: 40px;
  font-family: "Seymour One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
.product__title::before {
  content: "";
}

.products__list {
  text-align: center;
}

.products__item {
  position: relative;
  min-height: 420px;
  padding: 0 40px;
  border-radius: 24px;
}
.products__item:not(:last-child) {
  margin-bottom: 164px;
}

.products__item--ice-cream {
  background-color: #aec6a5;
}

.products__item--ice-coffee {
  background-color: #efd478;
}

.products__item--milkshakes {
  background-color: #d6936d;
}

.products__item-title {
  padding-top: 123px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.products__item-text {
  margin-bottom: auto;
  color: #131313;
}

.products__item-btn {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  margin-top: auto;
  margin-bottom: 20px;
}

.products__item-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 80px;
  }
  .product__subtitle {
    font-size: 22px;
    line-height: 1.23;
  }
  .product__title {
    margin-bottom: 80px;
    font-size: 34px;
    line-height: 1.27;
  }
  .products__list {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .products__item {
    width: calc((100% - 32px) / 3);
    padding: 0 26px;
    min-height: 535px;
  }
  .products__item:not(:last-child) {
    margin-bottom: 0;
  }
  .products__item-title {
    padding-top: 107px;
    font-size: 22px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-bottom: 65px;
  }
  .product__subtitle {
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  .product__title {
    margin-bottom: 120px;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
  .products__list {
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .products__item {
    width: calc((100% - 64px) / 3);
    padding: 0 63px;
  }
  .products__item-title {
    padding-top: 165px;
    margin-bottom: 65px;
    font-size: 30px;
    line-height: 1.23;
  }
  .products__item-text {
    font-size: 16px;
  }
  .products__item-btn {
    margin-bottom: 60px;
  }
}
>>>>>>> 7d7112276cc7b50bf406b7fd0dbbca2a9edc597a
.snapper {
  display: flex;
}/*# sourceMappingURL=index.css.map */