@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  cursor: url(../img/additionals/cursor-default.png), default;
}

.homepage {
  margin: 0;
  color: #fcfcfc;
  background-color: #84a178;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.04em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.is-hidden {
  display: none;
}

<<<<<<< HEAD
.menu__site-nav-link, .site-nav__link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.menu__site-nav, .site-nav {
=======
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

<<<<<<< HEAD
.advantages__advantages-list {
=======
.products__list {
>>>>>>> 7d7112276cc7b50bf406b7fd0dbbca2a9edc597a
>>>>>>> de3e3d2c26e23d78dfb5e737fa2dea21bb95ca45
  list-style: none;
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
.site-header__btn {
  display: inline-block;
  margin: 0;
  padding: 12px 34px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  text-align: center;
  color: #131313;
  background-color: #f8d24e;
  font-family: inherit;
}

.site-header {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

.site-header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 40px;
  height: 37px;
}

.site-header__navigation {
  display: none;
}

.site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  margin-top: 17px;
  margin-left: 269px;
}
@media screen and (max-width: 1199px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 27px;
}
@media screen and (max-width: 1199px) {
  .site-nav__item:not(:last-child) {
    display: none;
  }
}

.site-nav__link {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fcfcfc;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  font-weight: 700;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #f8d24e;
}
@media screen and (max-width: 1199px) {
  .site-nav__link {
    display: none;
  }
}

.open-menu-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
  cursor: pointer;
  background-color: crimson;
}

.open-menu-btn__icon {
  fill: #fff;
}
.open-menu-btn__icon:hover, .open-menu-btn__icon:focus {
  fill: #0a8817;
}

.site-header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .site-header__btn {
    display: none;
  }
}

.site-header__btn-icon {
  margin-left: 7px;
  background-color: crimson;
}

@media screen and (min-width: 768px) {
  .site-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .logo {
    width: 48px;
    height: 44px;
  }
  .open-menu-btn {
    margin-left: auto;
  }
  .site-header__btn {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .site-header {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .logo {
    width: 65px;
    height: 60px;
  }
  .site-header__navigation {
    display: block;
  }
  .open-menu-btn {
    display: none;
  }
  .site-header__btn {
    margin-top: 20px;
    margin-left: auto;
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #85A279;
  overflow: scroll;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .menu {
    background-color: #97AF8D;
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: none;
  }
}

.menu.is-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 31px;
  padding-top: 12px;
  padding-right: 31px;
  padding-bottom: 63px;
}

.menu__btn-close {
  position: absolute;
  top: 16px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-color: crimson;
  line-height: 0;
  cursor: pointer;
}

.menu__site-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 51px;
}

.menu__site-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.menu__site-nav-link {
  color: #fcfcfc;
  font-size: 32px;
  font-weight: 700;
  line-height: 1, 22;
}
.menu__site-nav-link:hover, .menu__site-nav-link:focus {
  color: #131313;
}

@media screen and (max-width: 767px) {
  .menu__btn {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu__container {
    padding-left: 32px;
    padding-top: 20px;
    padding-right: 32px;
  }
  .menu__btn-close {
    top: 32px;
    right: 32px;
  }
  .menu__site-nav {
    margin-top: 76px;
  }
  .menu__site-nav-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .menu__site-nav-link {
    font-size: 48px;
    line-height: 1, 23;
  }
  .menu__btn {
    display: none;
  }
}
=======
<<<<<<< HEAD
.advantages-list__text, .advantages-list__title {
  margin-top: 0;
  margin-bottom: 0;
  color: #fcfcfc;
}

@media screen and (max-width: 767px) {
  .advantages {
    padding-top: 42px;
    padding-bottom: 36px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 48px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 86px;
  }
}

.advantages__advantages-list {
  color: #fcfcfc;
  display: flex;
  justify-content: center;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .advantages__advantages-list {
    flex-direction: column;
    gap: 28px;
    margin-left: 25px;
    margin-right: 25px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__advantages-list {
    flex-direction: row;
    gap: 80px;
    flex-basis: calc((100% - 160px) / 3);
    margin-left: 44px;
    margin-right: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__advantages-list {
    gap: 32px;
    margin-left: 0;
    margin-right: 0;
  }
}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list__icon--wrapper {
  width: 50px;
  height: 50px;
  background-color: #f8d24e;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .advantages-list__icon--wrapper {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-list__icon--wrapper {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__icon--wrapper {
    margin-bottom: 40px;
  }
}

.advantages-list__icon {
  fill: #000000;
}

.advantages-list__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 767px) {
  .advantages-list__title {
    font-family: "Roboto";
    font-size: 36px;
    margin-bottom: 18px;
    line-height: 1.16;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 768px) {
  .advantages-list__title {
    font-family: "Montserrat";
    font-size: 48px;
    line-height: 1.22;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__title {
    font-family: "Montserrat";
    font-size: 58px;
  }
}

.advantages-list__text {
  text-align: center;
  font-family: "Montserrat";
}
@media screen and (max-width: 767px) {
  .advantages-list__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
  }
}
@media screen and (min-width: 768px) {
  .advantages-list__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__text {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02em;
  }
}

=======
.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products__titles {
  text-align: center;
}

.product__subtitle {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #131313;
}

.product__title {
  margin-top: 12px;
  margin-bottom: 40px;
  font-family: "Seymour One", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}
.product__title::before {
  content: "";
}

.products__list {
  text-align: center;
}

.products__item {
  position: relative;
  min-height: 420px;
  padding: 0 40px;
  border-radius: 24px;
}
.products__item:not(:last-child) {
  margin-bottom: 164px;
}

.products__item--ice-cream {
  background-color: #aec6a5;
}

.products__item--ice-coffee {
  background-color: #efd478;
}

.products__item--milkshakes {
  background-color: #d6936d;
}

.products__item-title {
  padding-top: 123px;
  margin-bottom: 40px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
}

.products__item-text {
  margin-bottom: auto;
  color: #131313;
}

.products__item-btn {
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  margin-top: auto;
  margin-bottom: 20px;
}

.products__item-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 80px;
  }
  .product__subtitle {
    font-size: 22px;
    line-height: 1.23;
  }
  .product__title {
    margin-bottom: 80px;
    font-size: 34px;
    line-height: 1.27;
  }
  .products__list {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 16px;
         column-gap: 16px;
  }
  .products__item {
    width: calc((100% - 32px) / 3);
    padding: 0 26px;
    min-height: 535px;
  }
  .products__item:not(:last-child) {
    margin-bottom: 0;
  }
  .products__item-title {
    padding-top: 107px;
    font-size: 22px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1200px) {
  .products {
    padding-bottom: 65px;
  }
  .product__subtitle {
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  .product__title {
    margin-bottom: 120px;
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
  .products__list {
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .products__item {
    width: calc((100% - 64px) / 3);
    padding: 0 63px;
  }
  .products__item-title {
    padding-top: 165px;
    margin-bottom: 65px;
    font-size: 30px;
    line-height: 1.23;
  }
  .products__item-text {
    font-size: 16px;
  }
  .products__item-btn {
    margin-bottom: 60px;
  }
}
>>>>>>> 7d7112276cc7b50bf406b7fd0dbbca2a9edc597a
>>>>>>> de3e3d2c26e23d78dfb5e737fa2dea21bb95ca45
.snapper {
  display: flex;
}/*# sourceMappingURL=index.css.map */