%link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

%list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%button {
  display: inline-block;
  margin: 0;
  padding: 12px 34px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  text-align: center;

  color: $txt-secondary-clr;
  background-color: $btn-default-clr;

  font-family: inherit;
}

%title {
  font-weight: 400;
  margin-top: 0;
}

%description {
  margin-top: 0;
  margin-bottom: 0;

  color: $txt-primary-clr;
}
