body {
  cursor: url(../img/additionals/cursor-default.png), default;
}
.homepage {
  margin: 0;

  color: $txt-primary-clr;
  background-color: $bg-basic-clr;
  font-family: $primary-font;
  letter-spacing: $ltr-spc;
}

// body.modal-open , body.is-open{
//   overflow: hidden;
// }

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
<<<<<<< HEAD
  min-width: 320px;
=======
  // min-width: 320px;
>>>>>>> main

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding-left: 12px;
    padding-right: 12px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.is-hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
