<!-- 00000000000000 is-hidden   0000000111111110000000000000000000000 -->
<div class="backdrop is-hidden " data-modal>
  <div class="modal-franchise">
    <button type="button" class="modal-close-btn" data-modal-close>
      <svg class="modal-close-icon" width="11px" height="11px">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h3 class="modal-franchise-title-h3">
      Thank you for your interest in owning an Ice Cream shop
    </h3>

    <p class="modal-franchise-paragraph">
      Due to the overwhelming volume of franchise requests we are not accepting
      new franchisee applications at this time. Once the application process
      resumes, we will contact you for further information. Please fill out the
      contact information below and we will reach out for additional
      information. We appreciate your patience.
    </p>

    <form class="modal-franchise-form">
      <label class="modal-franchise-form__field">
        <span class="modal-franchise-form__input-wrapper">
          <input
            type="text"
            class="modal-franchise-form__input"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇ]+"
            name="user_name"
            placeholder="Name"
          />
        </span>
      </label>

      <label class="modal-franchise-form__field">
        <span class="modal-franchise-form__input-wrapper">
          <input
            type="tel"
            class="modal-franchise-form__input"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            name="user_phone"
            placeholder="Phone"
          />
        </span>
      </label>

      <label class="modal-franchise-form__field">
        <span class="modal-franchise-form__input-wrapper">
          <input
            type="email"
            class="modal-franchise-form__input"
            name="user_email"
            placeholder="Email"
          />
        </span>
      </label>

      <!-- <label class="modal-form__field"> -->
      <textarea
        name="user_message"
        class="modal-franchise-form__message"
        placeholder="Comment"
      ></textarea>
      <!-- </label> -->

      <button type="submit" class="modal-franchise-form__submit">Submit</button>
    </form>
  </div>
</div>
<!-- END 000000000000000000000111111110000000000000000000000 -->
