<h1>Thank you for your interest in owning an Ice Cream shop</h1>


<p>Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at this time. Once
the application process resumes, we will contact you for further information. Please fill out the contact information
below and we will reach out for additional information. We appreciate your patience.</p>


<ul>
    <li>Name</li>
    <li>Phone</li>
    <li>Email</li>
    <li>Comment</li>
</ul>

<a href="">Submit</a>