<!-- is-hidden -->
<div class="backdrop " data-modal>
    <div class="modal modal-map">
        <button type="button" class="modal-close-btn" data-modal-close>
            <svg class="modal-close-icon" width="11px" height="11px">
            <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>

        <h3 class="modal-map-title-h3">Our Locations</h3>

        <div class="modal-map-link">
            <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d721273.6127844387!2d34.52860680157535!3d49.64231342842861!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCDQo9C60YDQsNC40L3QsCwgMzYwMDA!5e0!3m2!1sru!2sde!4v1665332123683!5m2!1sru!2sde"
                width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                                <picture>
                                    <!-- <source srcset="./images/portfolio_1_desktop.webp 1x, ./images/portfolio_1_desktop@2x.webp 2x"
                                        media="(min-width: 1200px)" type="image/webp" /> -->
                                    <source srcset=".\img\modal-locations\location-desk.jpg 1x, .\img\modal-locations\location-desk@2x.jpg 2x"
                                        media="(min-width: 768px)" />
                                                                                                  
                                    <!-- <source srcset="./images/portfolio_1_mobile.webp 1x, ./images/portfolio_1_mobile@2x.webp 2x"
                                        media="(max-width: 767px)" type="image/webp" /> -->
                                    <source srcset=".\img\modal-locations\location-mob.jpg 1x, .\img\modal-locations\location-mob@2x.jpg 2x"
                                        media="(max-width: 767px)" />
                                
                                    <img src=".\img\modal-locations\location-mob.jpg" alt="Технокряк " width="" />
                                
                                </picture>
        </div>
        <button type="submit" class="modal-map-form__submit modal-form__submit--map">
            Open map
        </button>


    </div>
</div>
