<div class="backdrop is-hidden" data-location>
  <div class="modal-map modal-mape">
    <button type="button" class="modal-close-btn" data-location-close>
      <svg class="modal-close-icon" width="20px" height="20px">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h3 class="modal-map-title-h3">Our Locations</h3>

    <div class="modal-map-link">
      <picture>
        <source
          srcset="
            .\img\modal-locations\location-desk.jpg    1x,
            .\img\modal-locations\location-desk@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />

        <source
          srcset="
            .\img\modal-locations\location-mob.jpg    1x,
            .\img\modal-locations\location-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
          src=".\img\modal-locations\location-mob.jpg"
          alt="Технокряк "
          width=""
        />
      </picture>
    </div>
    <button
      type="submit"
      class="modal-map-form__submit modal-form__submit--map"
    >
      Open map
    </button>
  </div>
</div>
