<div class="backdrop is-hidden" data-location>
  <div class="modal-map modal-mape">
    <button type="button" class="modal-close-btn" data-location-close>
      <svg class="modal-close-icon" width="20px" height="20px">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <h3 class="modal-map-title-h3">Our Locations</h3>

    <div class="modal-map-link">
      <iframe class="modal-map__iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=-87.26545572280884%2C41.602154032147624%2C-87.25837469100954%2C41.60569196143005&amp;layer=mapnik&amp;marker=41.603923021037104%2C-87.26191520690918"></iframe>
        <a
        href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@41.7034016,-87.7797405,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405?shorturl=1"
        ><button class="modal-map-form__submit modal-form__submit--map">
          Open map
        </button></a
      >
    </div>
  </div>