
<div class="backdrop is-hidden" data-modal-video>
    <div class="modal modal-video">
        <button type="button" class="modal-close-btn" data-modal-close-video>
            <svg class="modal-close-icon" width="20px" height="20px">
                <use href="./img/icons.svg#icon-close"></use>
            </svg>
        </button>
<div>
        <h3 class="modal-video-title-h3">How it’s made?</h3>
</div>
        <div class="modal-video-link">

            <video class="modal-video-link" src="https://www.youtube.com/watch?v=7XV7whomojk"
                 width="100%"
                  controls autoplay loop preload="auto"></video>
        </div>

        <p class="modal-video-paragraph">From the dawn of human civilizations, ice cream recipes started their slow and steady rate of improvement and refinement. Now that we have access to the technical wonders of modern civilization, ice cream can be produced by anyone. Find out how.</p>
    </div>
  </div>
</div>

