<button type="button" class="modal-close-btn" data-modal-close>
    <svg class="modal-close-icon" width="11px" height="11px">
        <use href="#"></use>
    </svg>
</button>


<h3 class="modal-form__titel">How it's made?</h3>

<video 
    src="http://techslides.com/demos/sample-videos/small.webm"
    poster="https://images.pexels.com/photos/595804/pexels-photo-595804.jpeg?w=640" 
    width="640" controls autoplay loop
    preload="auto">

</video>


<p class="modal-form__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
