
<!--is-hidden  показати вікно -->
<div class="backdrop is-hidden" data-modal>

            <button type="button" class="modal-close-btn" data-modal-close>
                <svg class="modal-close-icon" width="11px" height="11px">
                    <use href="#"></use>
                </svg>
            </button>

<h3 class="modal-form__titel"  >Chololate icecream</h3>

<ul class="modal-form__list-call" >
    <li class="modal-form__list-call--item" >320 kcal</li>
    <li class="modal-form__list-call--item">4g Protein...</li>
    <li class="modal-form__list-call--item">8,2g Fats</li>
    <li class="modal-form__list-call--item">40,4g Carbs</li>
</ul>
<p class="modal-form__paragraph">Ingredients</p>
<ul class="modal-form__list-Ingredients">
    <li class="modal-form__list-ingredients--item" >Milk 100ml</li>
    <li class="modal-form__list-ingredients--item">Belgian chocolate 20g</li>
    <li class="modal-form__list-ingredients--item">Cream 150 ml</li>
    <li class="modal-form__list-ingredients--item">Cocoa powder 30g</li>
    <li class="modal-form__list-ingredients--item">Sugar 40g </li>
    <li class="modal-form__list-ingredients--item">Vanilla sugar 10g</li>
</ul>
<form class="modal-form">



    <label class="modal-form-field">
        <span class="modal-form-field-desc">Name</span>
        <span class="modal-form-input-wrapper">
            <input type="text" class="modal-form-input" required pattern="[a-zA-Zа-яА-ЯіІїЇ]+" name="user_name" />
            <svg class="modal-form-input-icon" width="12px" height="12px">
                <use href="#"></use>
            </svg>
        </span>
    </label>
    

    <label class="modal-form-field">
            <span class="modal-form-field-desc">Phone</span>
            <span class="modal-form-input-wrapper">
                <input type="tel" class="modal-form-input" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
                    name="user_phone" />
                       <svg class="modal-form-input-icon" width="15px" height="15px">
                            <use href="#"></use>
                        </svg>
                    </span>
                </label>

    <label class="modal-form-field">
        <span class="modal-form-field-desc">Comment</span>
        <textarea name="user_message" class="modal-form-message" placeholder="Введіть текст"></textarea>
    </label>


<button type="submit" class="button modal-form-submit">
    Submit
</button>

</form>
<div>



    