<div>
    <ul>
        <li><svg>
                <use></use>
            </svg>
            <p>721</p>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li><svg>
                <use></use>
            </svg>
            <p>16kg</p>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li><svg>
                <use></use>
            </svg>
            <p>84</p>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>

    </ul>
</div>