<section class="advantages">
  <div class="container">
    <ul class="advantages__advantages-list">
      <li class="advantages-list__item">
        <svg width="50" height="50">
          <use href="#"></use>
        </svg>
        <p>721</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-list__item">
        <svg width="50" height="50">
          <use href="#"></use>
        </svg>
        <p>16kg</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages-list__item">
        <svg width="50" height="50">
          <use href="#"></use>
        </svg>
        <p>84</p>
        <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
