<section class="advantages">
  <h3 class="is-hidden">Advantages</h3>
  <div class="container">
    <ul class="advantages__advantages-list">
      <li class="advantages-list__item">
        <!-- <div class="advantages-list__icon--wrapper"><svg class="advantages-list__icon" width="36" height="36">
            <use href="./img/icons.svg#icon-cow"></use>
          </svg></div> -->
        <p class="advantages-list__title">721</p>
        <p class="advantages-list__text">
          Cows from our own farm give us milk for our products.
        </p>
      </li>
      <li class="advantages-list__item">
        <!-- <div class="advantages-list__icon--wrapper"><svg class="advantages-list__icon" width="36" height="36">
            <use href="./img/icons.svg#icon-weight"></use>
          </svg></div> -->

        <p class="advantages-list__title">25kg</p>
        <p class="advantages-list__text">
          Of ice cream on average we sell every hour.
        </p>
      </li>
      <li class="advantages-list__item">
        <!-- <div class="advantages-list__icon--wrapper">
          <svg class="advantages-list__icon" width="36" height="36">
            <use href="./img/icons.svg#icon-ice-crema"></use>
          </svg>
        </div> -->

        <p class="advantages-list__title">93</p>
        <p class="advantages-list__text">
          Different types of products. Find something to your taste!
        </p>
      </li>
    </ul>
  </div>
</section>
