<div class="order-modal">
  <!--
		1)прибрала div .order-modal__container, на мою думку, він тут лишній;
		2) додала до інпутів чекбокс клас visually-hidden, щоб їх приховати;
		3) прибрала спан із класом .check-field__img-container;
		4) додала спан на
		 текст під картинкою, щоб його відцентрувати;
		5) додала іконку закриття модалки;
		6) Завантажила фото
	-->
  <!--CLOSE BUTTON-->
  <button class="modal-close-btn" type="button">
    <svg class="close-icon" aria-label="close icon">
      <use href="./img/icons.svg#icon-close"></use>
    </svg>
  </button>

  <!--FORM-->
  <form class="order-form">
    <!--FORM-TITLE-->
    <b class="order-form__title">Buy now</b>

    <!--CHECKBOX-->
    <fieldset class="order-form__check-field">
      <label class="check-field__label">
        <input
          type="checkbox"
          class="check-field__input visually-hidden"
          name="selected-product"
          value="ice-cream"
        />

        <picture>
          <source
            media="(min-width: 1200px )"
            srcset="
              ./img/buy-now-modal/buy-now-product1-desk.jpg    1x,
              ./img/buy-now-modal/buy-now-product1-desk@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/buy-now-modal/buy-now-product1-mobile.jpg    1x,
              ./img/buy-now-modal/buy-now-product1-mobile@2x.jpg 2x
            "
          />
          <img
            class="check-field__img"
            src="./img/buy-now-modal/buy-now-product1-mobile.jpg"
            alt="ice cream"
          />
        </picture>
        <span class="check-field__description"> ice cream </span>
      </label>

      <label class="check-field__label">
        <input
          type="checkbox"
          class="check-field__input visually-hidden"
          name="selected-product"
          value="ice-coffee"
        />

        <picture>
          <source
            media="(min-width: 1200px )"
            srcset="
              ./img/buy-now-modal/buy-now-product2-desk.jpg    1x,
              ./img/buy-now-modal/buy-now-product2-desk@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/buy-now-modal/buy-now-product2-mob.jpg    1x,
              ./img/buy-now-modal/buy-now-product2-mob@2x.jpg 2x
            "
          />
          <img
            class="check-field__img"
            src="./img/buy-now-modal/buy-now-product2-mob.jpg"
            alt="ice coffee"
          />
        </picture>
        <span class="check-field__description"> ice coffee </span>
      </label>
      <label class="check-field__label">
        <input
          type="checkbox"
          class="check-field__input visually-hidden"
          name="selected-product"
          value="milkshake"
        />

        <picture>
          <source
            media="(min-width: 1200px )"
            srcset="
              ./img/buy-now-modal/buy-now-product3-desk.jpg    1x,
              ./img/buy-now-modal/buy-now-product3-desk@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/buy-now-modal/buy-now-product3-mob.jpg    1x,
              ./img/buy-now-modal/buy-now-product3-mob@2x.jpg 2x
            "
          />
          <img
            class="check-field__img"
            src="./img/buy-now-modal/buy-now-product3-mob.jpg"
            alt="milkshake"
          />
        </picture>
        <span class="check-field__description"> milkshake </span>
      </label>
    </fieldset>

    <!--INPUTS-->
    <div class="order-form__input-container">
      <input
        type="text"
        class="order-form__input"
        name="user_name"
        placeholder="Name"
        pattern="[a-zA-Zа-яА-ЯїЇіІ]+"
        required
      />
      <input
        type="tel"
        class="order-form__input"
        name="user_phone"
        placeholder="Phone"
        pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
        title="xxx-xxx-xx-xx"
        required
      />
      <textarea
        class="order-form__comment"
        name="user_comment"
        placeholder="Comment"
        cols="20"
        rows="5"
      ></textarea>
    </div>

    <!--SUBMIT-->
    <button class="order-form__btn" type="submit">Submit</button>
  </form>
</div>
