<!-- Contacts -->
<section class="contacts">
    <div class="container contact-back">
        <h2 class="is-hidden">Contacts</h2>
        <!-- ===========location=========== -->
        <ul class="contacts-block list">
            <li class="calculation">
                <div class="location">
                    <span class="location__title">CAFE</span>
                    <div class="location__item--text">
                        <p class="location__town">Chicago</p>
                        <a class="location__link link" href="https://goo.gl/maps/ps6KyGjuK1bMCjZf6" target="_blank"
                            rel="noreferer noopener nofollow">
                            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                        </a>
                    </div>
                    <!-- ===========work-hours=========== -->
                    <div class="work-hours">
                        <ul class="work-hours__list list">
                            <li class="work-hours__item"> Monday - Friday</li>
                            <li class="work-hours__item">
                                <p class="work-hours__item-text">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="work-hours__item"> Saturday - Sunday</li>
                            <li class="work-hours__item">
                                <p class="work-hours__item-text">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>
                    <!-- ===========contacts tel email=========== -->
                    <ul class="contact__list list">
                        <li class="contact__item">
                            <a class="contact__item-link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contact__item">
                            <a class="contact__item-link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="calculation">
                <!-- ===========location=========== -->
                <div class="location">
                    <span class="location__title">FOODTRUCK</span>
                    <div class="location__item--text">
                        <p class="location__town">Los Angeles</p>
                        <a class="location__link link" href="https://goo.gl/maps/ETXk2tKVDY6kmjPi8" target="_blank"
                            rel="noreferer noopener nofollow">
                            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                        </a>
                    </div>
                    <!-- ===========work-hours=========== -->
                    <div class="work-hours">
                        <ul class="work-hours__list list">
                            <li class="work-hours__item"> Monday - Friday</li>
                            <li class="work-hours__item">
                                <p class="work-hours__item-text">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="work-hours__item"> Saturday - Sunday</li>
                            <li class="work-hours__item">
                                <p class="work-hours__item-text">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>
                    <!-- ===========contacts tel email=========== -->
                    <ul class="contact__list list">
                        <li class="contact__item">
                            <a class="contact__item-link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contact__item">
                            <a class="contact__item-link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="calculation">
                <!-- ===========location=========== -->
                <div class="location">
                    <span class="location__title">CAFE</span>
                    <div class="location__item--text">
                        <p class="location__town">New York</p>
                        <a class="location__link link" href="https://goo.gl/maps/LBjRxfB3eF2NacdL6" target="_blank"
                            rel="noreferer noopener nofollow">
                            726 Sterling Pl, Brooklyn, NY 11222, USA
                        </a>
                    </div>
                    <!-- ===========work-hours=========== -->
                    <div class="work-hours">
                        <ul class="work-hours__list list">
                            <li class="work-hours__item"> Monday - Friday</li>
                            <li class="work-hours__item">
                                <p class="work-hours__item-text">06:00 AM - 10:00 PM</p>
                            </li>
                            <li class="work-hours__item"> Saturday - Sunday</li>
                            <li class="work-hours__item">
                                <p class="work-hours__item-text">08:00 AM - 16:00 PM</p>
                            </li>
                        </ul>
                    </div>
                    <!-- ===========contacts tel email=========== -->
                    <ul class="contact__list list">
                        <li class="contact__item">
                            <a class="contact__item-link link" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="contact__item">
                            <a class="contact__item-link link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- ===========button=========== -->
        <div class="button-loc">
            <button class="button-loc__button" type="button" data-location-open>Our Locations
                <svg class="button-loc__icon">
                    <use href="./img/icons.svg#icon-check-button">
                    </use>
                </svg>
            </button>
            <button class="button-loc__btn" type="button" data-franchise-open>Franchise
                <svg class="button-loc__icon">
                    <use href="./img/icons.svg#icon-check-button">
                    </use>
                </svg>
            </button>
        </div>
    </div>
</section>