<!-- Contacts -->
<section class="contacts">
    <div class="container">
        <!-- <div class="place"> -->
        <h2 class="is-hidden">Contacts</h2>
        <div class="location">
            <span class="location__title">CAFE</span>
            <ul class="location__elements">
                <li class="location__item calculation">
                    <p class="location__town">Chicago</p>
                    <a href="https://goo.gl/maps/ps6KyGjuK1bMCjZf6" target="_blank" rel="noreferer noopener nofollow">
                        10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
                    </a>
                </li>
            </ul>
            <div class="work-hours">
                <ul class="work-hours__list">
                    <li class="work-hours__list-item"> Monday - Friday</li>
                    <li class="work-hours__list-item">
                        <time>06:00 AM - 10:00 PM</time>
                    </li>
                    <li class="work-hours__list-item"> Saturday - Sunday</li>
                    <li class="work-hours__list-item">
                        <time>08:00 AM - 16:00 PM</time>
                    </li>
                </ul>
            </div>
            <div class="contact">
                <ul class="contact__list">
                    <li class="contact__item">
                        <a class="contact__item-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contact__item">
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="location">
            <span class="location__title">FOOD TRUCK</span>
            <ul class="location__elements">
                <li class="location__item calculation">
                    <p class="location__town">Los Angeles</p>
                    <a href="https://goo.gl/maps/ETXk2tKVDY6kmjPi8" target="_blank" rel="noreferer noopener nofollow">
                        1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
                    </a>
                </li>
            </ul>

            <div class="work-hours">
                <ul class="work-hours__list">
                    <li class="work-hours__list-item"> Monday - Friday</li>
                    <li class="work-hours__list-item">
                        <time>06:00 AM - 10:00 PM</time>
                    </li>
                    <li class="work-hours__list-item"> Saturday - Sunday</li>
                    <li class="work-hours__list-item">
                        <time>08:00 AM - 16:00 PM</time>
                    </li>
                </ul>
            </div>
            <div class="contact">
                <ul class="contact__list">
                    <li class="contact__item">
                        <a class="contact__item-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contact__item">
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="location">
            <p>
                <b class="location__title">CAFE</b>
            </p>
            <ul class="location__elements">
                <li class="location__item calculation">
                    <b class="location__town">New York</b>
                    <a href="https://goo.gl/maps/LBjRxfB3eF2NacdL6" target="_blank" rel="noreferer noopener nofollow">
                        726 Sterling Pl, Brooklyn, NY 11222, USA
                    </a>
                </li>
            </ul>

            <div class="work-hours">
                <ul class="work-hours__list">
                    <li class="work-hours__list-item">
                        <b Monday - Friday></b>
                    </li>
                    <li class="work-hours__list-item">
                        <time>06:00 AM - 10:00 PM</time>
                    </li>
                    <li class="work-hours__list-item"> Saturday - Sunday</li>
                    <li class="work-hours__list-item">
                        <time>08:00 AM - 16:00 PM</time>
                    </li>
                </ul>
            </div>
            <div class="contact">
                <ul class="contact__list">
                    <li class="contact__item">
                        <a class="contact__item-link" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
                    </li>
                    <li class="contact__item">
                        <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <button type="button" data-location-open>Our Locations</button>
            <button type="button" data-franchise-open>Franchise</button>
        </div>
    </div>
</section>