<footer class="footer">
    <div class="container">
        <div class="footer__title-contacts-wrapper">
            <div class="footer__title-wrapper"><h3 class="footer__title">Homemade ice cream made</h3><span class="footer__title--wrap">With passion</span>
            </div>
            <div class="footer__contacts">
                <ul class="footer__social-list">
                    <li class="social-list__item">
                     <a class="footer__social-link" target="_blank" href="https://github.com/">
                        <svg class="social-list__icon" width="20" height="20">
                        <use href="./img/icons.svg#icon-github"></use>
                        </svg></a> 
                    </li>
                    <li class="social-list__item"><a class="footer__social-link" target="_blank" href="https://web.telegram.org/">
                        <svg class="social-list__icon" width="20" height="20">
                        <use href="./img/icons.svg#icon-telegram"></use>
                        </svg></a>
                    </li>
                    <li class="social-list__item"><a class="footer__social-link" target="_blank" href="https://www.facebook.com/">
                        <svg class="social-list__icon" width="20" height="20">
                        <use href="./img/icons.svg#icon-facebook"></use>
                        </svg></a>   
                    </li>
                </ul>
                <div class="footer__tel-info">
                <p class="tel-info__label">Feel free to contact &nbsp;</p>
                <a class="tel-info__link" href="tel:+610383766284">+61(0)383766284</a>
                </div>
            </div>
        </div>
        <div class="footer__copyrights">
            <p class="copyrights__label">&#169; 2022 - IceCream.</p> <p class="copyrights__label">All Rights Reserved.</p>
        </div>
    </div>
    <div class="footer__border-element"></div>       
</footer>