<footer class="site-footer">
    <section class="site-footer__section">
        <div class="" id="">
            <h3 class="site-footer__header-third-row">Homemade ice cream made</h3>
            <p class="site-footer__">With passion</p>
            <ul class="site-footer__social-icon__list">
                <li class="site-footer__social-icon__icon"></li>
                <li class="site-footer__social-icon__icon"></li>
                <li class="site-footer__social-icon__icon"></li>
            </ul>
            <p class="site-footer__tel-link__text">Feel free to contact</p><a class="site-footer__tel-link" href="tel:+610383766284">+61(0)383766284</a>
        </div>
        <p class="site-footer__rigts-reserved">&#169 2022 - IceCream. <br/> All Rights Reserved</p>
    </section>
</footer>