<footer class="footer">       
        <h3 class="footer__title">Homemade ice cream made</h3></br><span class="footer__title--wrap">With passion</span></h3>
        <div class="footer__contacts">
            <ul class="footer__social-list">
                <li class="social-list__item">
                    <svg class="social-list__icon">
                        <use href="#"></use>
                    </svg>
                </li>
                 <li class="social-list__item">
                    <svg class="social-list__icon">
                        <use href="#"></use>
                    </svg>
                </li>
                <li class="social-list__item">
                    <svg class="social-list__icon">
                        <use href="#"></use>
                    </svg>
                </li>
            </ul>
            <div class="footer__tel-info">
            <p class="tel-info__label">Feel free to contact</p>
            <a class="tel-info__link" href="tel:+610383766284">+61(0)383766284</a>
            </div>
        </div>
        <div class="footer__copyrights">
            <p class="copyrights__label">&#169 2022 - IceCream. <br/> All Rights Reserved</p>
        </div>
</footer>