  <div class="slider container">
    <div class="slider__nav">
      <label for="x1" class="slider__nav-item"></label>
      <label for="x2" class="slider__nav-item"></label>
      <label for="x3" class="slider__nav-item"></label>
    </div>
    <div class="slider__item">
      <input type="radio" name="x" id="x1" />
      <input type="radio" name="x" id="x2" />
      <input type="radio" name="x" id="x3" />

      <img src="#" alt="#" class="slider__img" />
    </div>
    <div class="slider__item">
      <img src="#" alt="#" class="slider__img" />
    </div>
    <div class="slider__item">
      <img src="#" alt="#" class="slider__img" />
    </div>
  </div>

