
  <!-- Подключаем JS слайдера -->
  <script defer src="./js/gallery.js"></script>
  
  <!-- То что останется в  html  -->
  <script> 
    document.addEventListener('DOMContentLoaded', () => {
      // активация слайдера
      new ItcSimpleSlider('.itcss', {
        loop: true,
        autoplay: true,
        swipe: true
      });
    }); 
  </script> 


  <!-- Разметка слайдера -->
  <div class="container">
  <div class="itcss">
    <div class="itcss__wrapper">
      
      <div class="itcss__items">
        <div class="itcss__item">
          <div><picture>
                <source
                  media="(min-width: 1200px )"
                  srcset="./img/gallery/gallery-item1-desk.jpg 1x, ./img/gallery/gallery-item1-desk@2x.jpg 2x"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="./img/gallery/gallery-item1-tabl.jpg 1x, ./img/gallery/gallery-item1-tabl@2x.jpg 2x"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="./img/gallery/gallery-item1-mob.jpg 1x, ./img/gallery/gallery-item1-mob@2x.jpg 2x"
                />
            <img 
            alt="#" 
                        src="./img/gallery/gallery-item1-mob.jpg" 

            class="slider__img" />
          </div>
        </div>
        <div class="itcss__item">
                    <div><picture>
                <source
                  media="(min-width: 1200px )"
                  srcset="./img/gallery/gallery-item1-desk.jpg 1x, ./img/gallery/gallery-item1-desk@2x.jpg 2x"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="./img/gallery/gallery-item1-tabl.jpg 1x, ./img/gallery/gallery-item1-tabl@2x.jpg 2x"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="./img/gallery/gallery-item1-mob.jpg 1x, ./img/gallery/gallery-item1-mob@2x.jpg 2x"
                />
            <img 
            alt="#" 
                        src="./img/gallery/gallery-item1-mob.jpg" 

            class="slider__img" />
          </div>

        </div>
        <div class="itcss__item">
                    <div><picture>
                <source
                  media="(min-width: 1200px )"
                  srcset="./img/gallery/gallery-item1-desk.jpg 1x, ./img/gallery/gallery-item1-desk@2x.jpg 2x"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="./img/gallery/gallery-item1-tabl.jpg 1x, ./img/gallery/gallery-item1-tabl@2x.jpg 2x"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="./img/gallery/gallery-item1-mob.jpg 1x, ./img/gallery/gallery-item1-mob@2x.jpg 2x"
                />
            <img 
            alt="#" 
                        src="./img/gallery/gallery-item1-mob.jpg" 

            class="slider__img" />
          </div>

        </div>
        <div class="itcss__item">
                    <div>
                      <picture>
                <source
                  media="(min-width: 1200px )"
                  srcset="./img/gallery/gallery-item1-desk.jpg 1x, ./img/gallery/gallery-item1-desk@2x.jpg 2x"
                />
                <source
                  media="(min-width: 768px)"
                  srcset="./img/gallery/gallery-item1-tabl.jpg 1x, ./img/gallery/gallery-item1-tabl@2x.jpg 2x"
                />
                <source
                  media="(max-width: 767px)"
                  srcset="./img/gallery/gallery-item1-mob.jpg 1x, ./img/gallery/gallery-item1-mob@2x.jpg 2x"
                />
            <img 
            alt="#" 
                        src="./img/gallery/gallery-item1-mob.jpg" 

            class="slider__img" />
          </div>

        </div>
      </div>
    </div>
  
    <button class="itcss__btn itcss__btn-prev" role="button" data-slide="prev"></button>
    <button class="itcss__btn itcss__btn-next" role="button" data-slide="next"></button>
  </div>
</div>


