<header class="site-header">
    <div class="container site-header__container">
        <img class="logo" src="#" alt="site logo">
        <!-- <picture>
            <source
                srcset="./img/logo/logo-desktop.png 1x, ./img/logo/logo-desktop@2x.jpg 2x"
                media="(min-width: 1200px)">
            <source
                srcset="./img/logo/logo-tablet.jpg 1x, ./img/logo/logo-tablet@2x.jpg 2x"
                media="(min-width: 768px)">
            <source
                srcset="./img/logo/logo-mobile.jpg 1x, ./img/logo/logo-mobile@2x.jpg 2x"
                media="(max-width: 767px)">
            <img class="logo" src="./img/logo/logo-mobile.png" alt="site logo">
        </picture>         -->
        <nav class="site-header__navigation">
            <ul class="site-nav">
                <li class="site-nav__item site-nav__item--current">
                    <a class="site-nav__link" href="#">Home</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#">How it’s made?</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#">Our products</a>
                </li>
                <li class="site-nav__item">
                    <a class="site-nav__link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
        <button type="button" class="open-menu-btn">
            <svg aria-label="menu button icon" class="open-menu-btn__icon" width="32" height="32">
                <use href="#"></use>
            </svg>
        </button>
        <button type="button" class="site-header__btn">
            <span>Buy now</span>
            <svg aria-label="header button element" class="site-header__btn-icon" width="12" height="12">
                <use href="#"></use>
            </svg>
        </button>
    </div>

    <!-- tablet and mobile menu -->

    <div class="menu">
        <div class="container">
            <img class="logo" src="#" alt="site logo">
            <button type="button" class="menu__btn-close">
                <svg aria-label="close menu button" class="menu__btn-close-icon" width="32" height="32">
                    <use href="#"></use>
                </svg>
            </button>
            <ul class="menu__site-nav">
                <li class="menu__site-nav-item menu__site-nav-item--current">
                    <a class="menu__site-nav-link" href="#">Home</a>
                </li>
                <li class="menu__site-nav-item">
                    <a class="menu__site-nav-link" href="#">How it’s made?</a>
                </li>
                <li class="menu__site-nav-item">
                    <a class="menu__site-nav-link" href="#">Our products</a>
                </li>
                <li class="menu__site-nav-item">
                    <a class="menu__site-nav-link" href="#">Contact</a>
                </li>
            </ul>
            <button type="button" class="site-header-btn">
                <span>Buy now</span>
                <svg aria-label="menu button element" class="site-header-btn__icon" width="12" height="12">
                    <use href="#"></use>
                </svg>
            </button>
        </div>
    </div>
</header>