<section class="hero">
  <div class="container hero">
    <div class="hero__tittle">
      <h1 class="hero__tittle--tagline">ice cream made with passion</h1>
      <ul class="hero__tittle--nav">
        <li class="hero__nav--button">
          <button type="button" href="#products" class="hero__button--product">
            Products
          </button>
        </li>
        <li class="hero__nav--button">
          <button type="button" href="#about" class="hero__button--about">
            How it’s made?
          </button>
        </li>
      </ul>
    </div>
    <div class="hero__plate">
      <img src="../images/ice-cream-plate@1x.png" alt="Тарелка с мороженками" />
      <div class="hero__plate--note">
        <p class="hero__plate--description">
          Creamy with cream, light with milk or dietary with a fruit base:
          everyone will find an ice cream to their taste. Choose and enjoy a
          healthy dessert.
        </p>
        <a href="#about" class="hero__plate--arrow">
          <svg class="hero__arrow" width="40">
            <use href="../images/sprite.svg#icon-Arrow-4"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="hero__cone">
      <img src="../images/ice-cream1@1x.png" alt="ice cream cone" />
    </div>
    <div class="hero__distribution">
      <ul class="distribution">
        <li class="distribution__points">
          <p class="distribution__point--amount">16</p>
          <p class="distribution__point--cafe">cafes</p>
        </li>
        <li class="distribution__points">
          <p class="distribution__point--amount">23</p>
          <p class="distribution__point--cafe">food trucks</p>
        </li>
      </ul>
    </div>
    <div class="">
      <img
        class="hero__points"
        src="../images/точки@1x.png"
        alt="фоновые точки"
      />
    </div>
  </div>
</section>
