<section class="hero">
  <div class="container hero__container">
    <div class="hero__main-info">
    <h1 class="hero__title">ice cream made with <span class="hero__title-elemet">passion</span></h1>
      <ul class="hero__list">
        <li class="hero__item">
          <button type="button" href="#" class="hero__button-one">Products</button>
        </li>
        <li class="hero__item">
          <button type="button" href="#" class="hero__button">
            How it’s made?
          </button>
        </li>
      </ul>
        <div class="hero__product">
          <img class="hero__product-plate"
            src="/src/img/hero/plate-tab-min.png"
            alt="Тарелка() с мороженками"
          />
          <div class="hero__product-info">
            <p class="hero__description">
              With cream, with milk or dietary with a fruit base:
              everyone will find an ice cream to their taste.
            </p>
            <a href="#" class="hero__product-link">
              <svg class="hero__icon--arrow" width="40">
                <use href="./img/icons.svg#icon-Arrow1"></use>
              </svg>
            </a>
          </div>
        </div>
    </div>
    <div class="hero__horn">
      <img class="hero__horn-ice"
            src="/src/img/hero/desc-ice-cream1@1x.png"
            alt="Рожок"
          />
    </div>
    <div class="hero__distribution">
      <ul class="distribution__list">
        <li class="distribution__items">
          <p class="distribution__number">16</p>
          <p class="distribution__point-type">cafes</p>
        </li>
        <li class="distribution__items">
          <p class="distribution__number">23</p>
          <p class="distribution__point-type">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>