<section class="products">
    <div class="container">
        <div class="products__titles">
            <span class="product__subtitle">100% natural</span>
            <h2 class="product__title">products</h2>
        </div>
        <ul class="products__list">
            <li class="products__item products__item--ice-cream">
                <h3 class="products__item-title">ice cream</h3>
                <p class="products__item-text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                <button type="button" class="products__item-btn">
                    <svg class="products__item-icon" width="40px" height="3px">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item--ice-coffee">
                <h3 class="products__item-title">ice coffee</h3>
                <p class="products__item-text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                <button type="button" class="products__item-btn">
                    <svg class="products__item-icon" width="40px" height="3px">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item--milkshakes">
                <h3 class="products__item-title">milkshakes</h3>
                <p class="products__item-text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
                <button type="button" class="products__item-btn">
                    <svg class="products__item-icon" width="40px" height="3px">
                        <use href="#"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>