<section class="products">
    <div class="container">
        <div class="products__titles">
            <span class="product__subtitle">100% natural</span>
            <h2 class="product__title">products</h2>
        </div>
        <ul class="products__list">
            <li class="products__item products__item--ice-cream">
               <div class="wrapper__item--ice-cream"></div>
               <h3 class="products__item-title products__item-title--ice-cream">ice cream</h3>
                    <p class="products__item-text">Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                <button type="button" class="products__item-btn">
                    <svg class="products__item-icon--def">
                        <use href="./img/icons.svg#icon-Arrow1"></use>
                    </svg>
                    <svg class="products__item-icon--hov">
                        <use href="./img/icons.svg#icon-Arrow2"></use>
                    </svg>
                    <svg class="products__item-icon--foc">
                        <use href="./img/icons.svg#icon-Arrow3"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item--ice-coffee">
                <div class="wrapper__item--ice-coffee"></div>
                <h3 class="products__item-title products__item-title--ice-coffee">ice coffee</h3>
                <p class="products__item-text">Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                <button type="button" class="products__item-btn">
                    <svg class="products__item-icon--def">
                        <use href="./img/icons.svg#icon-Arrow1"></use>
                    </svg>
                    <svg class="products__item-icon--hov">
                        <use href="./img/icons.svg#icon-Arrow2"></use>
                    </svg>
                    <svg class="products__item-icon--foc">
                        <use href="./img/icons.svg#icon-Arrow3"></use>
                    </svg>
                </button>
            </li>
            <li class="products__item products__item--milkshakes">
                <div class="wrapper__item--milkshakes"></div>
                <h3 class="products__item-title products__item-title--milkshakes">milkshakes</h3>
                <p class="products__item-text">Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
                <button type="button" class="products__item-btn">
                    <svg class="products__item-icon--def">
                        <use href="./img/icons.svg#icon-Arrow1"></use>
                    </svg>
                    <svg class="products__item-icon--hov">
                        <use href="./img/icons.svg#icon-Arrow2"></use>
                    </svg>
                    <svg class="products__item-icon--foc">
                        <use href="./img/icons.svg#icon-Arrow3"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>