<div class="container">
  <section class="carousel" aria-label="Reviews">
    <h2 class="visually-hidden">Reviews</h2>
    <div class="carousel__slider">
      <div class="carousel__slides">
        <div id="carousel__slide-1">
          <div class="carousel__image-wrapper">
            <srcset></srcset>
            <img src="#" />
          </div>

          <p class="carousel__review">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <span class="carousel__customer-name">Emily, Los Angeles</span>
        </div>
        <div id="carousel__slide-2">
          <div class="carousel__image-wrapper">
            <srcset></srcset>
            <img src="#" />
          </div>

          <p class="carousel__review">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
          <span class="carousel__customer-name">Sam, Los Angeles</span>
        </div>
        <div id="carousel__slide-3">
          <div class="carousel__image-wrapper">
            <srcset></srcset>
            <img src="#" />
          </div>

          <p class="carousel__review">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <span class="carousel__customer-name">Diana, Chicago</span>
        </div>
        <div id="carousel__slide-4">
          <div class="carousel__image-wrapper">
            <srcset></srcset>
            <img src="#" />
          </div>

          <p class="carousel__review">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <span class="carousel__customer-name">Bryan, New-York</span>
        </div>
      </div>
      <ul class="carousel__snapper">
        <li class="carousel__review-snapper"><a href="#slide-1"></a></li>
        <li class="carousel__review-snapper"><a href="#slide-2"></a></li>
        <li class="carousel__review-snapper"><a href="#slide-3"></a></li>
        <li class="carousel__review-snapper"><a href="#slide-4"></a></li>
      </ul>
    </div>
  </section>
</div>
