<section class="testimonial">
  <h2 class="visually-hidden">Reviews</h2>
  <div class="testimonial-container container mySwiper">
    <div class="testimonial__content swiper-wrapper">
      <div class="testimonial__slide swiper-slide">
        <img
          srcset="
            ./img/review/reviewer1.jpg    1x,
            ./img/review/reviewer1@2x.jpg 2x
          "
          src="./img/review/reviewer1.jpg"
          alt="client1"
          class="testimonial__image"
        />
        <p class="testimonial__text">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <span class="testimonial__details">Emily, Los Angeles</span>
      </div>
      <div class="testimonial__slide swiper-slide">
        <img
          srcset="
            ./img/review/reviewer2.jpg    1x,
            ./img/review/reviewer2@2x.jpg 2x
          "
          src="./img/review/reviewer2.jpg"
          alt="client2"
          class="testimonial__image"
        />
        <p class="testimonial__text">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
        <span class="testimonial__details">Sam, Los Angeles</span>
      </div>
      <div class="testimonial__slide swiper-slide">
        <img
          srcset="
            ./img/review/reviewer3.jpg    1x,
            ./img/review/reviewer3@2x.jpg 2x
          "
          src="./img/review/reviewer3.jpg"
          alt="client3"
          class="testimonial__image"
        />
        <p class="testimonial__text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <span class="testimonial__details">Diana, Chicago</span>
      </div>
      <div class="testimonial__slide swiper-slide">
        <img
          srcset="
            ./img/review/reviewer4.jpg    1x,
            ./img/review/reviewer4@2x.jpg 2x
          "
          src="./img/review/reviewer4.jpg"
          alt="client4"
          class="testimonial__image"
        />
        <p class="testimonial__text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <span class="testimonial__details">Bryan, New-York</span>
      </div>
    </div>
    <div class="swiper-button-next testimonial__btn"></div>
    <div class="swiper-button-prev testimonial__btn"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>
