 //Модалка, кнопка закриття модалки//


.order-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $mdl-primary-bg-clr;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 2px solid #f8d24e;
  border-radius: 10px;

  max-height: 95%;
    overflow-y: auto;
    overflow-x: hidden
}

.order-modal__close-btn {
  position: absolute;
  cursor: url(../img/additionals/cursor-hover.png), pointer;
  transition: fill $transition-time $cubic-bezier;

  &:hover,
  &:focus {
    fill: $bg-secondary-clr;
  }
}

//Форма//
.order-form {
  @include centeredFlex;
  flex-direction: column;
  color: $txt-secondary-clr;
}

.order-form__title {
  font-family: $secondary-font;
  font-weight: 400;
  text-align: center;
}

// КНОПКА SUBMIT //
.order-form__btn {
  @extend %button;
  transition: background-color $transition-time $cubic-bezier,
    color $transition-time $cubic-bezier;

  &:hover {
    @extend %button--hover;
  }

  &:focus {
    @extend %button--focus;
  }

  &:disabled {
    @extend %button--disabled;
  }
}

//For MOBILE//

@media screen and (max-width: 767px) {
  .order-modal {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 280px;
    padding: 28px;
  }

  .order-modal__close-btn {
    top: 8px;
    right: 8px;
    padding: 0;
    border: 0;
    width: 16px;
    height: 16px;
    background-color: inherit;
  }

  .close-icon {
    width: 16px;
    height: 16px;
  }
}

.order-form__title {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 84px;
}

// КНОПКА SUBMIT //

.order-form__btn {
  @include textStyle($size: 12px, $height: 1.25);

  &:hover {
    @include textStyle($size: 12px, $height: 1.25);
  }

  &:focus {
    @include textStyle($size: 12px, $height: 1.25);
  }
}

// TABLET and DECKTOP (однакові стилі) //

@media screen and (min-width: 768px) {
  .order-modal {
    width: 568px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .order-modal__close-btn {
    top: 20px;
    right: 20px;
    padding: 0;
    border: 0;
    width: 20px;
    height: 20px;
    background-color: inherit;
  }

  .close-icon {
    width: 20px;
    height: 20px;
  }

  .order-form__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 103px;
  }
}
