//Форма для Buy-now-modal//
//Загальні стилі//

//Цей клас можна винести в окремий паршел, я його використала для приховання чекбоксів//
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

//Загальний контейнер для форми//
.order-form {
  @include centeredFlex;
  flex-direction: column;
  color: $txt-secondary-clr;
}

//Заголовок//
.order-form__title {
  font-family: $secondary-font;
  font-weight: 400;
  text-align: center;
}

// Контейнер для усіх чекбоксів//
.order-form__check-field {
  padding: 0 0 20px 0;
  margin: 0 0 24px 0;
  border: 0;
}

.check-field__label {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

//текст в чекбоксах//
.check-field__description {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
}

//фото//
.check-field__img {
  width: 132px;
  height: 132px;
  border-radius: 98.6301px;
}

// Інпути для імені і телефону//
.order-form__input {
  width: 100%;
  border: 1px solid $bg-basic-clr;
  border-radius: 10px;
  background-color: $mdl-form-input-bg-clr;

  &::placeholder {
    font-weight: 400;
    line-height: 1.4;
  }
}

//Інпут для коментарів//
.order-form__comment {
  width: 100%;
  border: 1px solid $bg-basic-clr;
  border-radius: 10px;
  background-color: $mdl-form-input-bg-clr;
  outline: none;
  resize: none;

  &::placeholder {
    font-weight: 400;
    line-height: 1.4;
  }
}

// For MOBILE max-width: 767px//

@media screen and (max-width: 767px) {
  //Заголовок//
  .order-form__title {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }

  //Контейнер для чекбоксів//
  .order-form__check-field {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  //Контейнер для інпутів//
  .order-form__input-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    margin-bottom: 24px;
  }

  // Інпути для імені і телефону//
  .order-form__input {
    height: 32px;
    padding: 8px 12px 7px 12px;

    &::placeholder {
      font-size: 12px;
    }
  }

  //Інпут для коментарів//
  .order-form__comment {
    width: 100%;
    height: 65px;
    padding: 8px 12px;

    &::placeholder {
      font-size: 12px;
    }
  }
}
// For MOBILE//

// For TABLET and DECKTOP (однакові стилі) min-width:768px //
@media screen and (min-width: 768px) {
  .order-form__title {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 40px;
  }

  .order-form__check-field {
    display: flex;
    gap: 32px;
    margin-bottom: 40px;
  }

  .order-form__input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 368px;
    margin-bottom: 32px;
  }

  .order-form__input {
    height: 42px;
    padding: 11px 16px;

    &::placeholder {
      font-size: 14px;
    }
  }

  .order-form__comment {
    width: 100%;
    height: 84px;
    padding: 11px 16px;

    &::placeholder {
      font-size: 14px;
    }
  }
}
// For TABLET and DECKTOP//
