/* ======= --------Відкривання закривання модального вікна --------- =========== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-dur-and-func), ;

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}

/* END ======= --------Відкривання закривання модального вікна --------- =========== */

/*=============== Модальне вікно ================*/
// 0px - 767px
@media screen and (min-width: 768px) {

    .modal {
        width: calc(100% - 30px);
        max-width: 280px;
    }

    .modal-close-btn {
        top: 8px;
        right: 8px;
    }

    .modal-title {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .modal-paragraph {
        font-size: 14px;
        margin-bottom: 24px;
    }

    .modal-form__field {
        margin-bottom: 12px;
    }

    .modal-form__input {
        padding-left: 12px;
        font-size: 12px;
        // margin-bottom: 12px;

    }

    .modal-form__message {

        height: 84px;
        padding-top: 8px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 12px;

    }

}

///////

@media screen and (min-width: 768px) {
    .modal {
        max-width: 568px;
    }

    .modal-close-btn {
        top: 24px;
        right: 24px;
    }

    .modal-title {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 24px;
    }

    .modal-paragraph {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .modal-paragraph {
        font-size: 16px;
        margin-bottom: 32px;
    }

    .modal-form__field {
        margin-bottom: 16px;
    }

    .modal-form__input {
        padding-left: 16px;
        font-size: 14px;
        // margin-bottom: 16px;
    }

    .modal-form__message {
        height: 64px;
        padding-top: 12px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 14px;
    }
}

///////


.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 28px;
    transform: translate(-50%, -50%);
    width: 280px;
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}

// описуємо кнопку  закриття модального вікна (хрестик)
.modal-close-btn {
    display: flex;
    /*за допомогою flex центруэмо svg   */
    align-items: center;
    /*за допомогою flex центруэмо svg   */
    justify-content: center;
    /*за допомогою flex центруэмо svg   */
    position: absolute;
    /*за допомогою absolute розміщаємо кнопку в кут   */
    padding: 0;
    background-color: transparent;
    border: none;
}

// END описуємо кнопку  закриття модального вікна (хрестик)
// Описуємо заголовки для модальніх форм
.modal-title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;

    display: flex;
    align-items: center;
    text-align: center;

    color: #131313;

}

// Описуємо параграф для модальніх форм
.modal-paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
    color: #131313;
}

// .modal-close-icon {
//     transition: fill var(--transition-dur-and-func);

//     &:hover,
//     &:focus {
//         fill: var(--accent-color);
//     }
// }

/* END ===============Модальна форма================*/


/*=============== Модальна форма ================*/
.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form__field {
    display: block;

}

.modal-form__input-wrapper {
    color: #131313;


}

.modal-form__input {
    width: 100%;
    height: 32px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;

    color: #131313;
    ;
    // &:focus {
    //     outline: none;
    //     border-color: var(--accent-color);
    // }
}




.modal-form__message {
    width: 100%;
    resize: none;
    margin-bottom: 24px;
    color: #131313;
    background: rgba(248, 210, 78, 0.1);
    // border: 1px solid #84A178;
    border-radius: 10px;

    transition: border-color var(--transition-dur-and-func);

    &::placeholder {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        color: #131313;

    }

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}



.modal-form__submit {

    width: 114px;
    height: 42px;
    background: #F8D24E;
    border-radius: 10px;


    align-self: center;

    padding: 10px 32px 10px 32px;
    // border: 0;

    // font-family: $primary-font;
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.88;
    // letter-spacing: 0.06em;
    // color: var(--white);

    // transition: background-color var(--transition-dur-and-func);

    // &:hover,
    // &:focus {
    //     background-color: var(--button-color);
    // }
}

.modal-form__submit:hover,
.modal-form__submit:focus {
    background: #0A8817;
    // background-color: var(--button-color);
}

/* END ===============Модальна форма================*/