/* ======= --------Відкривання закривання модального вікна --------- =========== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-dur-and-func), ;

    &.is-hidden {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
}

/* END ======= --------Відкривання закривання модального вікна --------- =========== */

/*=============== Модальне вікно ================*/
// 0px - 767px
@media screen and (max-width: 768px) {
.modal-chololate {
        width: calc(100% - 30px);
        max-width: 280px;
    }

.modal-chololate-close-btn {
        top: 8px;
        right: 8px;
    }
.modal-chololate-title-h3 {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
.modal-chololate-form__field {
        margin-bottom: 12px;
        // width: 100%;
        // max-width: 224px;
    }
.modal-chololate-form__input {
        padding-left: 12px;
        width: 100%;
        max-width: 224px;
        height: 32px;
        // margin-bottom: 12px;
        // font-size: 12px;
    }

.modal-chololate-form__message {
        width: 100%;
        max-width: 240px;
        height: 84px;
        padding-top: 8px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 12px;
    }

    .modal-chololate__list {
        width: 280px;
    }

    .modal-chololate__list-call {
        //   width: 220px;
        //   gap: 20px;
        // flex-direction: column;
        gap: 10px;
        justify-content: space-between;
    }

    .modal-chololate__list-call--item-h {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        
        // padding-left: 6px;
        margin-left: 3.5px;
        width: 43px;
        height: 43px;
    }
.modal-chololate__list-call--item-l {
    // width: 40px;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
}
    .modal-chololate__list-call--item {
        width: 53px;
        height: 72px;
    }
}

///////

@media screen and (min-width: 768px) {
    .modal-chololate {
        width: 568px;
        max-width: 568px;
    }
    .modal-close-btn {
        top: 24px;
        right: 24px;
    }
    .modal-chololate-title-h3 {
        font-size: 20px;
        line-height: 1.4;
        margin-bottom: 24px;
    }
    .modal-chololate-form__field {
        margin-bottom: 16px;
        // width: 100%;
        // max-width: 356px;       
    }

    .modal-chololate-form__input {
        padding-left: 16px;
        font-size: 14px;
        width: 368px;
        height: 42px;
        // margin-bottom: 16px;
    }

    .modal-chololate-form__message {
        width: 100%;
        max-width: 368px;
        height: 64px;
        padding-top: 12px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 14px;
    }

    .modal-chololate__list {
        width: 568px;
    }

    .modal-chololate__list-call--item-h {
        width: 53px;
        height: 53px;
        margin-left: 3px;
    }

    .modal-chololate__list-call--item {
        width: 65px;
        height: 90px;
    }

    .modal-chololate__list-call {
        gap: 20px;
        padding-right: 40px;
        //   width: 220px;
        //   gap: 20px;
        // flex-direction: column;
        // justify-content: space-between;
    }

    .modal-form__submit--map {
        width: 145px;
    }

}

///////


.modal-chololate {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 28px;
    transform: translate(-50%, -50%);
    background: #FCFCFC;
    border: 2px solid #F8D24E;
    border-radius: 10px;
}


// описуємо кнопку  закриття модального вікна (хрестик)
.modal-close-btn {
    display: flex;
    /*за допомогою flex центруэмо svg   */
    align-items: center;
    /*за допомогою flex центруэмо svg   */
    justify-content: center;
    /*за допомогою flex центруэмо svg   */
    position: absolute;
    /*за допомогою absolute розміщаємо кнопку в кут   */
    padding: 0;
    background-color: transparent;
    border: none;
}

// END описуємо кнопку  закриття модального вікна (хрестик)
// Описуємо заголовки для модальніх форм
.modal-chololate-title-h3 {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    // display: flex;
    align-items: center;
    text-align: center;
    color: #131313;

}

.modal-chololate-title-h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #131313;
    margin-bottom: 24px;
}



.modal-chololate {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
}

.modal-chololate__list {
    // width: 568px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-chololate__list-call {
    color: #131313;
    display: flex;
    margin: 0;
    padding: 0;
    // align-items: space-between;
    // width: 220px;
    // gap: 20px;
    // flex-direction: column;
    justify-content: space-between;
}

.modal-chololate__list-call--item {
    display: block;
    margin-right: auto;
    border: 2px solid #9CBE8F;
    border-radius: 40px;
}

.modal-chololate__list-call--item-h {
    border-radius: 50%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.33;
    /* identical to box height, or 233% */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #131313;
    overflow: hidden;
    background: #9CBE8F;
    border: 2px solid #9CBE8F;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

}

.modal-chololate__list-call--item-l {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-chololate__list-call--item-lo{
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
         white-space: nowrap;      
}

.modal-chololate__list-ingredients {
    font-size: 12px;
    color: #131313;
    // display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 0px;
    // max-width: ;
    margin-bottom: 48px;
}

.modal-chololate__list-ingredients--item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
    // align-items: center;
    // text-align: center;   
}

.modal-chololate__list-ingredients--blok {
    display: block;
}

// .modal-close-icon {
//     transition: fill var(--transition-dur-and-func);

//     &:hover,
//     &:focus {
//         fill: var(--accent-color);
//     }
// }

/* END ===============Модальна форма================*/


/*=============== Модальна форма ================*/
.modal-chololate-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-chololate-form__field {
    display: block;

}

.modal-chololate-form__input-wrapper {
    color: #131313;
}

::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: #131313;
}

.modal-chololate-form__input {
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    color: #131313;

    // &:focus {
    //     outline: none;
    //     border-color: var(--accent-color);
    // }
}

.modal-chololate-form__message {
    // width: 100%;
    // max-width: 368px;
    resize: none;
    margin-bottom: 24px;
    color: #131313;
    background: rgba(248, 210, 78, 0.1);
    // border: 1px solid #84A178;
    border-radius: 10px;

    transition: border-color var(--transition-dur-and-func);

    &::placeholder {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;
        color: #131313;
    }

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal-chololate-form__submit {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #131313;
    width: 114px;
    height: 42px;
    background: #F8D24E;
    border-radius: 10px;
    align-self: center;
    padding: 10px 32px 10px 32px;
    border: 0;

    // font-family: $primary-font;
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 1.88;
    // letter-spacing: 0.06em;
    // color: var(--white);

    // transition: background-color var(--transition-dur-and-func);

    // &:hover,
    // &:focus {
    //     background-color: var(--button-color);
    // }
}

.modal-chololate-form__submit:hover,
.modal-chololate-form__submit:focus {
    background: #0A8817;
    // background-color: var(--button-color);
}


.modal-chololate__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 141px;
    margin-bottom: 25px;
}

.modal-chololate__img-ice {
    // position: absolute;
    width: 132px;
    height: 130.6px;
    left: 74px;
    top: 113.4px;
    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25), 0px 7px 0px 0px rgba(10, 136, 23, 0.25);
    // box-shadow: 0px 7px 0px 0px rgba(10, 136, 23, 0.25);
    border-radius: 50%;

}