/*=============== Модальна форма ================*/



.modal-form {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 40px;
    padding-bottom: 40px; */
}

.modal-title {
position: absolute;
    width: 221px;
    height: 72px;
    left: 29px;
    top: 28px;

    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 24px;
    /* or 150% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #131313;
    
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal-form-input {
    font-size: 12px;
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-func);

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal-form-field {
    display: block;
    margin-bottom: 10px;
}

.modal-form-field-desc {
    display: block;
    margin-bottom: 4px;
    /* font-style: normal; */
    /* font-weight: 400; */
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form-input-wrapper {
    position: relative;
    display: block;
}

.modal-form-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    display: block;
    transition: fill var(--transition-dur-and-func);

    .modal-form-input:focus+& {
        fill: var(--accent-color);
    }
}

.modal-form-message {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    color: #000;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
    resize: none;
    transition: border-color var(--transition-dur-and-func);

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        font-size: 12px;
    }

    &:focus {
        outline: none;
        border-color: var(--accent-color);
    }
}

.modal-form-own-checkbox {
    border: 2px solid #212121;
    border-radius: 2px;
    cursor: pointer;
    /* border-color: #757575; */
    /* background-color: #757575; */
    margin-right: 7px;
    margin-left: 12px;

    .modal-form-check:checked+& {
        background-color: var(--accent-color);
    }

    .modal-form-check:focus+& {
        box-shadow: 0 0 0 1px var(--accent-color);
        border-radius: 2px;
        border-color: var(--accent-color);
    }
}

.modal-form-own-checkbox-icon {
    margin-right: 37px;
    /* display: none;      Приховуємо галочку svg */
    /* fill: var(--white); */
}

.modal-form-check {
    position: absolute;
    /*Виймаємо з потоку */
    appearance: none;
    /*скидуємо всі властивості в 0 */
}

.modal-form-check-field {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.modal-form-field-checkbox {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form-submit {
    height: 50px;
    width: 200px;
    align-self: center;
    border-radius: 4px;
    padding: 10px 32px 10px 32px;
    border: 0;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--white);
    background-color: var(--accent-color);
    transition: background-color var(--transition-dur-and-func);

    &:hover,
    &:focus {
        background-color: var(--button-color);
    }
}

.modal-form-field-checkbox-link {
    color: var(--accent-color);
    transition: text-decoration var(--transition-dur-and-func);

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

/*===============END Модальна форма ================*/
/* ======= ----- END Модальне вікно--------- =========== */