.testimonial {
  padding-top: 80px;
  padding-bottom: 50px;
  overflow-x: hidden;
  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 128px;
    padding-bottom: 100px;
  }
}
.testimonial__image {
  height: 85px;
  width: 85px;
  object-fit: cover;
  border-radius: 50%;
}
.testimonial__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}
.testimonial__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 39px;
  padding-right: 39px;
  width: 100%;
  height: 256px;
  margin: 0;
  text-align: center;
  background-color: $bg-basic-clr;
  font-family: $primary-font;
  @include textStyle(
    $size: $font-size-descr-mob,
    $height: 2.56,
    $ltr-spc: 0.04em
  );
  font-weight: 400;
  color: $basic-white-clr;
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    padding-left: 80px;
    padding-right: 80px;
    height: 138px;
    font-weight: 500;
    @include textStyle(
      $size: $font-size-descr-tab,
      $height: 1.85,
      $ltr-spc: 0.04em
    );
  }
  @media screen and (min-width: $desktop) {
    padding-left: 74px;
    padding-right: 74px;
    width: 968px;
    line-height: 1.87;
  }
}
.testimonial__details {
  @include textStyle($size: 20px, $height: 1.86, $ltr-spc: 0.04em);
  font-weight: 500;
  color: #131313;
  @media screen and (min-width: $tablet) {
    font-size: $font-size-descr-desk;
  }
}
.testimonial__btn {
  display: none;
}
.swiper-pagination {
  margin-top: 14px;
  @media screen and (min-width: $tablet) {
    margin-top: 30px;
  }
}
